
body {
    
    text-align: center;
    font-size: 14px;
    font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
}



#external-events {
    float: left;
    width: 150px;
    padding: 0 10px;
    border: 1px solid #ccc;
    background: #d8e7f3;
    text-align: left;
}

#external-events h4 {
    font-size: 16px;
    margin-top: 0;
    padding-top: 1em;
}

.external-event { /* try to mimick the look of a real event */
    margin: 10px 0;
    padding: 2px 4px;
    background: #a6c9e2;
    color: #000000;
    font-size: .85em;
    cursor: pointer;
}

#external-events p {
    margin: 1.5em 0;
    font-size: 11px;
    color: #666;
}
#external-events p input {
    margin: 0;
    vertical-align: middle;
}
// #calendar {
//   float: right;
// width: 900px;
//}
.call{
    float: right;
    width: 900px;
}
//  #norton {
//    float: right;
//  width: 900px;
//}
// #ebuisness {
//   float: right;
// width: 900px;
//}
#id1 {
    float: left;
    width: 150px;
    padding: 0 10px;
    text-align: right;
}
.heee{
    float: left;
    width: 150px;
    padding: 10px 10px 0px 10px ;
    text-align: right;
    height: 30px;
}
#id2 {
    float: left;
    width: 150px;
    padding: 0 10px;
    text-align: right;
}
.wrapper{
    width: 1100px;
    margin: 0 auto;
    
}
.wrapper2{
    width: 1100px;
    margin: 0 auto;
    border-left-color: #ff0000;
    border-right-color: #ff0000;
    border-top-color: #ff0000;
    border-bottom-color: #ff0000;
    border-style: solid;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-top-width: 0px;
}


.dum{
    float: left;
    width: 200px;
    height: 100px;
}
